Repository joyehuang/bytedance-frontend-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,css,less,scss,md}": ["prettier --write"]
}

docs update contributing doc and import shadcnui
  CONTRIUTING.md
  components.json
  src/components/ui/button.tsx
  src/lib/utils.ts
Due: eslint --fix, prettier --write

docs update readme and shacnui
  README.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/index.css
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

配置@别名路径
  .eslintrc.cjs
  @/components/ui/button.tsx
  package.json
  pnpm-lock.yaml
  src/App.tsx
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore:add path alias
  package.json
  src/App.tsx
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore:update tsconfig.node.json
  tsconfig.node.json
Due: prettier --write

chore:update docs
  .github/pull_request_template.md
  .gitignore
  CODE_REVIEW_GUIDE.md
  CONTRIUTING.md
  CROSS_PLATFORM_GUIDE.md
  README.md
  REQUIREMENTS.md
  commitlint.config.js
  src/components/Chat/InlineChat/CollapsedInput.tsx
  src/components/Chat/InlineChat/ExpandedDialog.tsx
  src/components/Chat/shared/MessageInput.tsx
  src/store/chatStore.ts
  src/types/chat.ts
Due: eslint --fix, prettier --write

chore(style): configure tailwindcss
  src/App.tsx
Due: eslint --fix, prettier --write

chore(style) tailwindcss configure
  pnpm-lock.yaml
Due: none

feat(store): implement chat state management with Zustand
  src/store/chatStore.ts
Due: eslint --fix, prettier --write

basic dialog ui
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/layout/Dialog/index.css
  src/layout/Dialog/index.tsx
  src/layout/index.tsx
Due: eslint --fix, prettier --write

basic dialog ui
  src/layout/Dialog/index.tsx
Due: eslint --fix, prettier --write

basic standAloneChat ui
  pnpm-lock.yaml
  src/App.tsx
  src/chat/StandaloneChat/index.css
  src/chat/StandaloneChat/index.tsx
Due: eslint --fix, prettier --write

feat:add coze api into dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: merge all docs into one
  CODE_REVIEW_GUIDE.md
  CROSS_PLATFORM_GUIDE.md
  README.md
  REQUIREMENTS.md
Due: prettier --write

feat:configure claude api, api key is in .env file, create a claude api test script, change some package.json
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/api.ts
  src/test-api.ts
  src/vite-env.d.ts
  vite-env.d.ts
Due: eslint --fix, prettier --write

添加修正后独立对话框
  index.html
  package.json
  pnpm-lock.yaml
  postcss.config.cjs.js
  src/App.css
  src/assets/dialogBg.jpg
  src/assets/user.jpg
  src/components/Chat/shared/AppSidebar.tsx
  src/components/Chat/shared/Dialog.tsx
  src/components/Chat/shared/MessageInput.tsx
  src/components/Chat/shared/SearchForm.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/textarea.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.tsx
  src/index.css
  src/main.tsx
  src/pages/ChatPage.tsx
  src/pages/HomePage.tsx
  src/router/index.tsx
  tailwind.config.js
  vite.config.ts
Due: eslint --fix, prettier --write

feat: basic uploadFile UI and function
  src/App.tsx
  src/components/Chat/UploadFile/UploadFile.tsx
  src/components/Chat/shared/Dialog.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

feat: basic uploadFile UI and function
  src/components/Chat/shared/UploadFile.tsx
Due: eslint --fix, prettier --write

fix: 将App.tsx的代码改写入HomePage.tsx
  src/App.tsx
  src/components/Chat/shared/Dialog.tsx
  src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

feat(chat): 实现创建新对话功能; refactor(sidebar): 优化组件结构
  index.html
  src/App.tsx
  src/components/Chat/ChatSessionManager.tsx
  src/components/Chat/shared/AppSidebar.tsx
  src/components/Chat/shared/Dialog.tsx
  src/components/ui/button.tsx
  src/components/ui/sidebar.tsx
  src/hooks/use-sidebar.ts
  src/lib/utils.ts
  src/pages/ChatPage.tsx
  src/pages/HomePage.tsx
  src/router/index.tsx
  src/store/chatSessionStore.ts
Due: eslint --fix, prettier --write

feat(inlinechat):新增内联对话框静态ui
  src/assets/Element.jpg
  src/components/Chat/InlineChat/CollapsedInput.tsx
  src/components/Chat/InlineChat/ExpandedDialog.tsx
  src/components/Chat/InlineChat/MinimizeDialog.tsx
  src/components/Chat/shared/AiMessage.tsx
  src/components/Chat/shared/AppSidebar.tsx
  src/components/Chat/shared/ListWrapper.tsx
  src/components/Chat/shared/SearchForm.tsx
  src/components/Chat/shared/UserMessage.tsx
  src/components/ui/separator.tsx
  src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

feat: improve UI and interactions
  src/App.tsx
  src/components/Chat/shared/AppSidebar.tsx
  src/components/Chat/shared/Dialog.tsx
  src/components/Chat/shared/TopBar.tsx
  src/pages/ChatPage.tsx
  src/pages/HomePage.tsx
  src/store/chatSessionStore.ts
  src/store/chatStore.ts
Due: eslint --fix, prettier --write

chore(vercel): add vercel config files
  .npmrc
  package.json
  vercel.json
Due: prettier --write

chore(config): update package.json again for anthropic and dotenv
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(vercel): change config for vercel deploymemnt
  package.json
  vercel.json
  vite.config.ts
Due: eslint --fix, prettier --write

文件上传状态显示及相应api
  package.json
  pnpm-lock.yaml
  src/components/Chat/shared/Dialog.tsx
  src/components/Chat/shared/UploadFile.tsx
  src/components/Chat/shared/UploadedFilesList.tsx
  src/pages/ChatPage.tsx
  src/store/uploadedFileStore.ts
  src/types/chat.ts
Due: eslint --fix, prettier --write

feat: 修改FileList排列方式以及文件具体信息的显示
  src/components/Chat/shared/UploadFile.tsx
  src/components/Chat/shared/UploadedFilesList.tsx
  src/store/uploadedFileStore.ts
  src/types/chat.ts
  src/utils/filesUtil.ts
Due: eslint --fix, prettier --write

fix: update TopBar and InlineChat components
  src/App.tsx
  src/components/Chat/InlineChat/CollapsedInput.tsx
  src/components/Chat/InlineChat/ExpandedDialog.tsx
  src/components/Chat/shared/AppSidebar.tsx
  src/components/Chat/shared/Dialog.tsx
  src/components/Chat/shared/TopBar.tsx
  src/pages/ChatPage.tsx
  src/pages/HomePage.tsx
  src/store/chatSessionStore.ts
  src/store/chatStore.ts
Due: eslint --fix, prettier --write

chore(config): update vercel deploy config
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 引入immer以及一些文件组件的优化
  src/components/Chat/shared/UploadedFilesList.tsx
  src/store/uploadedFileStore.ts
Due: eslint --fix, prettier --write

fix: UploadedFileList组件优化，防止重复渲染
  src/components/Chat/shared/UploadedFilesList.tsx
Due: eslint --fix, prettier --write
